<%= form_for @user, url: '/signin' do |f| %>
  <div class="form-group">
    <%= f.label :name, "Your name:" %>
    <%= f.collection_select :name, User.all, :name, :name, {prompt: "Please select your username from this dropdown"} %>
  </div>

  <div class="form_group">
    <%= f.label :password, "Your password:" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>
